<div class="container">
  <div class="hero-unit">
    <h1>Slandir</h1>
    <p>A better way to handle a dispute.</p>
  </div>
  <%= form_tag login_create_path, :id => "signup-form" do %>
    <div class="row">
      <h2 class="offset6">Sign Up</h2>
    </div>
    <hr>
    <div class="row">
      <label class="offset6 error"><%= flash[:error] %></label>
    </div>
    <div class="row">
      <div class="offset6 span2 pull-bottom"><h3>Email:</h3></div>
      <div><%= text_field_tag "email", @email, :class => "span2 required email" %></div>
    </div>
    <div class="row">
      <div class="offset6 span2"><h3>First name:</h3></div>
      <%= text_field_tag "firstName", @firstName, :class => "span2 required" %>
    </div>
    <div class="row">
      <div class="offset6 span2"><h3>Last name:</h3></div>
      <%= text_field_tag "lastName", @lastName, :class => "span2 required" %>
    </div>
    <div class="row">
      <div class="offset6 span2"><h3>Password:</h3></div>
      <%= password_field_tag "password", @password, { :class => "span2 required", :minlength => 6 } %>
    </div>
    <br>
    <div class="row">
      <div class="offset6"><h3>Enter the words in the image below</h3></div>
    </div>
    <div class="row">
      <div class="offset6"><%= recaptcha_tags :display => {:theme => "clean"} %></div>
    </div>
    <br>
    <div class="row">
      <div class="offset10"><%= submit_tag "Sign Up", :class => "btn btn-primary btn-large" %></div>
    </div>
  <% end %>

</div>